@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: #3b6d932d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1783dba9;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1783db;
  cursor: pointer;
}
